<nb-card size="medium">
  <div class="consumption-table">
    <div class="table-header">
      <div>Power draw</div>
    </div>

        <div class="stats-month" *ngFor="let component of listData.components">
          <div>
            <span class="month">{{ component.name }}</span>
          </div>
          <div class="results">
            <b>{{ component.amps }}</b> A
          </div>
        </div>
  </div>

  <div class="chart-container">
    <div class="chart-header">
      <div class="header-stats">
        <div class="stats-block">
          <div class="subtitle">Consuming</div>
          <div>
            <span class="value">{{amperage}}</span>
            <span class="unit">A</span>
          </div>
        </div>
      </div>

    </div>
    <ngx-electricity-chart [data]="chartData" [newData]="newData"></ngx-electricity-chart>
  </div>
</nb-card>
