<div class="row">
  <div class="col-md-4" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title"
                     [type]="statusCard.type"
                     (toggled)="statusCard.onChange($event)">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>


<div class="row">
    <div class="col-md-5">
        <ngx-battery title="Port Battery" [voltage]="18.9"></ngx-battery>
      </div>
      <div class="col-md-5">
        <ngx-battery title="Starboard Battery" [voltage]="20"></ngx-battery>
      </div>
      <div class="col-md-2">
        <ngx-depth-card></ngx-depth-card>
      </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>


