<div class="row">
	<div class="col-md-4" *ngFor="let statusCard of statusCards">
		<ngx-status-card [title]="statusCard.title" [type]="statusCard.type" (toggled)="statusCard.onChange($event)">
			<i [ngClass]="statusCard.iconClass"></i>
		</ngx-status-card>
	</div>
</div>


<div class="row">
	<div class="col-md-5">
		<ngx-battery title="Port Battery" [voltage]="portVoltage" [amps]="portCurrent"></ngx-battery>
	</div>
	<div class="col-md-5">
		<ngx-battery title="Starboard Battery" [voltage]="stbdVoltage" [amps]="stbdCurrent"></ngx-battery>
	</div>
	<div class="col-md-2">
		<ngx-depth-card [depthValue]="depthValue"></ngx-depth-card>
	</div>
	<div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
		<ngx-temperature [currentTemp]="temp"></ngx-temperature>
	</div>

	<div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
		<ngx-electricity [amperageEmitter]="totalCurrentEmitter" [logicCurrents]="logicCurrents"></ngx-electricity>
	</div>
</div>
