<nb-card size="medium">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Temperature">

      <div class="slider-container">
        <ngx-temperature-dragger [(value)]="temperature" (power)="temperatureOff = !$event"
                                 [min]="temperatureData.min" [max]="temperatureData.max" [disableArcColor]="colors.layoutBg"
                                 [fillColors]="colors.temperature">

          <div class="slider-value-container"  [ngClass]="{ 'off': temperatureOff }">
            <div class="value temperature">
              25
            </div>
            <div class="desc">
              {{ temperatureOff ? '--' : 'Set to: '+(temperature | ngxRound)+'°' }}
            </div>
          </div>
        </ngx-temperature-dragger>
      </div>

      
    </nb-tab>

    
  </nb-tabset>
</nb-card>
